.movie-pag-container {
    display:flex;
    justify-content: center;
    position: fixed;
        bottom: 0;
        z-index: 15;
        width: 100%;
        
    .movie-pag-container__root{
        
        background-color: var(--background);
        padding: 10px 10px;
        border-top: 1px solid var(--border-header);
        width: 100%;

        li {
            button {
                border: 1px solid var(--border-pug-btn);
                
                color: var(--border-pug-btn);
            }
        }

        .movie-pag__pag-element {
            display: flex;
            justify-content: center;
        }
    }
}