.movie-page {
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    padding: 6rem 1rem 6rem;
    z-index: 2;
    background-color: #183755;

    .search-form {
        margin: auto;
        max-width: 800px;
        padding: 0.3rem;
        border-radius: 0.5rem;
        background-color: white;
        
    }

    .movie-page__invation {
        color: white;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
        
    }

    .movie-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .movie-page__error {
            color: white;
        }
    }
    .fafourites-movie {
        p {
            color: white;
        }
    }
}