@import "../styles/colors.scss";
@import "../styles/global.scss";

.app {
    background-color: var(--background);
    height: 100vh;
    .app-main {
        background-color: var(--background);
    }
}
    