.packages-page {
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    background-color: var(--background);
    padding: 6rem 1rem 6rem;

    .packages-page__text, .packages-page__invitation {
        color: var(--text);
        text-align: center;
        margin-bottom: 2rem;
    }
}